{% extends "main.j2" %}

{% block body %}

    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Our team of young developers created this web site for students of UCU ot make their learning of Probability & Statistics
        interesting, enjoyable and efficient. </p>
      </div>
    </div>
  </div>

  <hr>

{% endblock %}