{% extends "main.j2" %}

{% block main %}
      <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>Introduction</h1>
            <h2 class="subheading">Coins and dice problems</h2>
            <span class="meta">Posted by
              <a href="https://www.facebook.com/profile.php?id=100007845457042" about="blank">Andriy Yanovskyi</a>
              on September, 23, 2019</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>
            This is a simple problem which demonstrates how to find probability of getting head-tail-head after randomly rolling 3 dice.
          </p>
          <iframe width="100%" height="450" src="https://www.youtube.com/embed/mkyZ45KQYi4?list=PLC58778F28211FA19" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p>
            One more explanation of the problem demonstrates how to find probability of getting exactly one head out of four after randomly rolling 4 dice.
          </p>
          <iframe width="100%" height="450" src="https://www.youtube.com/embed/8TIben0bJpU?list=PLC58778F28211FA19" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p>
            <br>
          <h3>Problem 1</h3>

          <p>If we flip a fair coin 9 times, and the flips are independent, what's the probability that we get heads exactly 6 times?</p>
          </p>
        </div>

      </div>
    </div>
  </article>

  <hr>

  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']]
    }
  };
</script>
<script id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script>
{% endblock %}